*.class
*.swp
*.out
*.tar.gz
*.pyc
*.eclat

# sbt specific
build/*.jar
.cache/
.history/
.lib/
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/

# Scala-IDE specific
.scala_dependencies
.worksheet

# from projects
adaptive-execution/python
adaptive-execution/depths
